<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<title>Thymeleaf Template</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		<div class="col">
			<div th:switch="${sizeListStudent}">
				<h2 th:case="0">No users yet!</h2>
				<div th:case="*">
					<div class="card">
						<div class="card-header">Danh sach student</div>
						<div class="card-body">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Name</th>
										<th scope="col">Email</th>
										<th scope="col">Phone</th>
										<th scope="col">Gender</th>
										<th scope="col">Avatar</th>
										<th scope="col">Hobbies</th>
										<th scope="col"></th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="student : ${listStudents}">
										<tr>
											<th scope="row" th:text="${student.id}">1</th>
											<td th:text="${student.name}">Mark</td>
											<td th:text="${student.email}">Otto</td>
											<td th:text="${student.phone}">Otto</td>
											<td th:text="${student.gender}">Otto</td>
											<td th:text="${student.avatar}">Otto</td>
											<td th:text="${student.hobby}">@mdo</td>
											<td><a th:href="@{/account/edit/{id}(id=${student.id})}">Edit</a></td>
											<td><a
												th:href="@{/account/delete/{id}(id=${student.id})}">Remove</a></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
						<div class="card-footer text-muted">
							<a th:href="@{/account/register}">Add a new user</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>